*.[568vq]
*.a
*.bak
*.cgo1.go
*.cgo2.c
*.exe
*.o
*.prof
*.so
*.swp
*.test
*.tmp
[568vq].out
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
cmd/puppyart/generated.png
cmd/puppyart/puppyart
include.txt
